<div class="container mt-3">
  <div class="row">
    <div class="col-8">
      <h2>Cadastro de filmes</h2>
    </div>
    <div class="col text-right">
      <button class="btn btn-secondary ml-2" type="button">
        <fa-icon [icon]="faTimesCircle"></fa-icon>
        Fechar
      </button>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Velozes + Furioso</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <button class="btn btn-secondary botoes" type="button">
            <fa-icon [icon]="faPlusSquare"></fa-icon>
            Novo
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-secondary botoes" type="button">
            <fa-icon [icon]="faFolderOpen"></fa-icon>
            Abrir
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-secondary botoes" type="button">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
            Salvar
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-secondary botoes" type="button">
            <fa-icon [icon]="faTrash"></fa-icon>
            Excluir
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-secondary botoes" type="button">
            <fa-icon [icon]="faUndoAlt"></fa-icon>
            Cancelar
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-secondary botoes" type="button" onclick="print()">
            <fa-icon [icon]="faPrint"></fa-icon>
            Imprimir
          </button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col text-right">
      <span>Total de Registros: <b>131</b></span>
    </div>
  </div>


  <hr>

  <div class="row mt-3">
    <div class="col">

      <div class="row mb-3">
        <div class="col-md-4 col-lg-3 col-sm-12 mb-2">
          <label>Foto de capa do filme</label>
          <img src="assets/capaFilme.jpg" class="imagemFilme rounded d-block">
          <div class="mt-1">
            <button class="btn btn-secondary" type="button">Selecionar Capa</button>
            <button class="btn btn-secondary ml-2" type="button">WebCam</button>
          </div>

        </div>
        <div class="col">
          <div class="row">
            <div class="col-lg-3 mb-2">
              <label>Número do Filme</label>
              <input type="number" class="form-control" placeholder="Exemplo: 0000035">
            </div>
            <div class="col-lg-3 mb-2">
              <label>Tipo Produto</label>
              <ng-select dropdownPosition="auto" placeholder="Selecione" [items]="tiposProduto" bindLabel="nome">
              </ng-select>
            </div>
            <div class="col-lg-3 mb-2">
              <label>Tipo Filme</label>
              <ng-select dropdownPosition="auto" placeholder="Selecione" [items]="tiposFilme" bindLabel="nome">
              </ng-select>
            </div>
            <div class="col-lg-3 mb-2">
              <label>Genero</label>
              <ng-select dropdownPosition="auto" placeholder="Selecione" [items]="generos" bindLabel="nome">
              </ng-select>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-2">
              <label>Título do Filme</label>
              <input type="text" class="form-control" placeholder="Exemplo: + VELOZES + FURIOSOS">
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-2">
              <label>Principais Atores</label>
              <ng-select dropdownPosition="auto" placeholder="Selecione" [items]="atores" [multiple]="true"
                bindLabel="nome">
              </ng-select>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-2">
              <label>Principais Diretores</label>
              <ng-select dropdownPosition="auto" placeholder="Selecione" [items]="diretores" [multiple]="true"
                bindLabel="nome">
              </ng-select>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-lg-2 mb-2">
          <label>Fornecedor</label>
          <ng-select dropdownPosition="auto" placeholder="Selecione" [items]="fornecedores" bindLabel="nome">
          </ng-select>
        </div>
        <div class="col-lg-4 mb-2">
          <label>Tipo de Idioma</label>
          <input type="text" class="form-control" placeholder="Preencha o tipo aqui">
        </div>
        <div class="col-lg-3 mb-2">
          <label>Valor da Locação</label>
          <input type="number" class="form-control" placeholder="Preencha o valor">
        </div>
        <div class="col-lg-3 mb-2">
          <label>Data Cadastro</label>
          <input type="date" value="{{dataAtual}}" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th>
                  Número do Filme
                </th>
                <th>
                  Título do Filme
                </th>
                <th>
                  Valor
                </th>
                <th>
                  Data Cadastro
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let filme of filmesCadastro">
                <td>
                  {{filme.numero}}
                </td>
                <td>
                  {{filme.titulo}}
                </td>
                <td>
                  {{filme.valor}}
                </td>
                <td>
                  {{filme.data | date: 'dd/MM/yyyy'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>